@font-face {
	font-family: 'AajaxSurrealFreak';
	src: url('../fonts/AajaxSurrealFreak.TTF');
}


/*将页面上样式清空*/

body,
div,
img {
	margin: 0;
	padding: 0;
	font-family: '宋体';
}

.music_box {
	width: 400px;
	height: 600px;
	border: 1px solid red;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
